/***** BASE STYLES *****/

body {
	font-family: 'Muli', sans-serif;
	padding:0px 50px 0px 50px;
	margin: 0px 50px 0px 50px;
}

#about, #work, #contact {
	height:600px;
}

/***** GRID *****/
.full-width {
	width:1200px;
	margin: 0 /*vertical*/ auto /*horizontal*/;
}

.half-width {
	width:600px;
	margin:auto;
	float:left;
}

.third-width {
	width:400px;
	margin:auto;
	float:left;
}


/***** HEADER *****/

header {
	background: url("https://static.pexels.com/photos/247932/pexels-photo-247932.jpeg")no-repeat;
	height:800px;
	background-size:cover;
}

header h1 {
	text-transform: uppercase;
	letter-spacing: 10px;
	padding: 50px 0;
	font-family: 'IBM Plex Mono', monospace;
	font-size:32px;
	font-weight:600;
	color:#c26d00;
}

nav {
	float:right;
	padding:75px 40px;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	text-transform:lowercase;
	text-decoration: none;
	font-size:22px;
	color:#d33575;
	padding-left: 80px;

}

header h2 {
	width:1000px;
	font-family:'IBM Plex Mono', monospace;
	font-size:72px;
	line-height:80px;
	color:#c2c2d6;
	text-shadow: 1px 1px #b3b3cc;
	/*color:#b3b3cc;*/
	padding:20px 0;
}

header h2 span {
	color:#2b2b2b;
}

/***** ABOUT *****/


#about {
	background: #f7ebd5;
	/*padding: 30px;*/
}

#about .full-width {
	padding:80px 0;
}

#about h2 {
	font-family:'IBM Plex Mono', monospace;
	font-size:36px;
	color:#DB0047;
	text-transform: uppercase;
}

#about p {
	font-size:21px; 
	color:#7F7F7F;
	line-height:40px;
	padding-right:50px;
}

/***** WORK *****/

#work {
	background: #688b8d;
	text-align: center;
}

#work .full-width {
	padding:115px 0;
}

#work img {
	padding-bottom: 30px;
}

#work h3 {
	font-size:24px;
	width:180px;
	margin: 0 auto;
}

#work p {
	font-family:'Muli', sans-serif;
	font-size:18px;
	line-height:30px;
	color:#2B2B2B;
	padding:0 35px;
}

/***** CONTACT *****/

#contact {
	background: url("../img/phone_edited.jpeg");
	background-size: 2000px auto;
	overflow-y: auto;
	/*border: 5px solid pink;*/
	/*opacity:0.65; */
}

#contact .full-width {
	padding: 110px 0;
}


#contact h2, #email-header, #socialmedia-header, #contact ul {
	/*padding-left: 10px;*/
}

#contact-info {
	color:#c26d00;
	background:#ffffff;
	opacity:0.7;
	float:right;
	/*padding:30px;*/
	text-align: center;
}

#envelope {
	padding: 0 10px 0 115px;
}

#contact h2 {
	font-family: 'IBM Plex Mono', monospace;
	font-size:36px;
	/*color:#ffffff;*/
}

#contact h3 {
	font-family: 'IBM Plex Mono', monospace;
	font-size:24px;
	/*color:#ffffff;*/
}

#email-header {
	font-size:32px;
	font-weight:400;
	margin: -30px 0 5px 0;
}

#socialmedia-header {
	font-weight:400;
	font-size:29px;
	margin:40px 0 0 0;
}

#contact a {
	text-decoration:none ;
	color:grey;
	font-weight:300;
	font-size: 24px;

}

#contact ul {
	list-style:none;
}

#contact ul li {
	display: inline-block;
}

#contact ul img {
	padding-right: 48px;
}